<%= content_tag :h1, resource.title_with_full_position %>

<p><%= resource.desc %></p>

<% if resource.articles.empty? %>

  <% resource.children.each do |subsection| %>
    <%= nested_items subsection.subtree.arrange(:order => :created_at) %>
  <% end %>
  
<% else %>
  <ul>
  <% resource.articles.each do |article| %>
    <li>
      <h4><%= link_to article.title_with_full_position, section_article_path(article.section, article) %></h4>
      <p><%= article.summary %><p>
    </li>
  <% end %>
  </ul>
<% end %>

