<%= grid 3 do %>

  <%= render :partial => 'sidebar' %>

<% end %>

<%= grid 9, :clear => true do %>

  <h1><%= @section.title_with_full_position %></h1>
  <p><%= @section.desc %></p>

  <% unless @section.articles.empty? %>
    <%= render @section.articles %>
  <% end %>

<% end %>
