<%= render :layout => 'layouts/base' do %>

  <%= grid 7 do %>
    <%= yield %>
  <% end %>

  <%= grid 5, :clear => true do %>

    <p>Recently updated:</p>
    <ul>
    <% @recently_added.each do |article|  %>
      <li><%= link_to article.title_with_full_position, section_article_path(article.section,article) %></li>
    <% end %>
    </ul>
  
  <% end %>

<% end %>